.img-fluida {
    max-width: 100%;
    height: 100%;
    width: auto;
    align-self: center;
    object-fit: contain;
    margin: auto;
}

.work-img {
    height: 200px;
}

.retrato {
    //margin: 10px;
}

.retrato-img {
    margin-top: 7.5px;
    border: 2.5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 7px 2px #cbcbcb;
    max-width: 160px;
    max-height: 160px;
    width: 100%;
    height: auto;
}

.nombre {
    font-size: 25px;
    font-weight: 500;
    color: #1e1e1e;
}
