.img-fluida {
    max-width: 100%;
    height: 100%;
    width: auto;
    align-self: center;
    object-fit: contain;
    margin: auto;
}

.work-img {
    height: 200px;
}

.retrato {
    margin: 10px;
}

.nombre {
    font-size: 25px;
    font-weight: 500;
    color: #1e1e1e;
}
